<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Jaiz Risk Register</title>
    <style type="text/css">
        .field {
            width: 200px;
            padding: 5px;
        }

        .signature {
            min-width: 50px;
        }

        .item {
            background: #fff;
        }

        .alt {
            background: #fff;
        }
    </style>
</head>
<body style="font-family: Rockwell; font-size: 12px; font-weight: bold; width: 100%;">
    <br />
    Dear &nbsp; #FullName#,
    <br />
    <br />
    We hope this email finds you well.
    <br />
    We are writing to inform you that the risk associated with your department has been re-classified following our recent assessment. This re-classification is based on updated evaluations and relevant risk factors.
    <br />
    We encourage you to review the details of this change(s) and take any necessary action(s) as required. If you have any questions or require further clarification, please do not hesitate to reach out to us <strong>@Operational & Cyber Risk Unit</strong>.
    <br />
    Thank you for your attention to this matter.
    <br />

    <br />
    <br />
</body>
</html>